# data
**/_readme*.html
**/data/*


# env
.aoc-env
helpers.sh

# c
lib/c/run
*.plist

# csharp
lib/csharp/Part1.cs
lib/csharp/Part2.cs
lib/csharp/obj/
lib/csharp/bin/
**/bin/
**/obj/
**/check.csproj
**/day**/Program.cs

# go
lib/go/part1.go
lib/go/part2.go

# java
*.class

# javascript
node_modules/

# perl
*.pl.bak
*.pl.tdy
*.pl.ERR

# python
__pycache__/

# session
session.cookie






