.DS_Store
session.cookie

# data
data/**/*.in
data/**/*.out

# c
aoc/c/run

# cpp
aoc/cpp/run

# go
aoc/go/part1.go
aoc/go/part2.go

# python
__pycache__

# csharp
aoc/csharp/Part1.cs
aoc/csharp/Part2.cs
aoc/csharp/obj/
aoc/csharp/bin/

# java
*.class
*.class

