# data
**/_readme*.html
**/data/*
!**/data/output.part1.txt
!**/data/output.part2.txt

# env
.aoc-env
helpers.sh

# c
lib/c/run
*.plist

# csharp
lib/csharp/Part1.cs
lib/csharp/Part2.cs
lib/csharp/obj/
lib/csharp/bin/
**/bin/
**/obj/
**/check.csproj
**/day**/Program.cs

# javascript
node_modules/

# perl
*.pl.bak
*.pl.tdy
*.pl.ERR

# python
__pycache__/

# session
session.cookie






