[MASTER]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring
good-names=
    a,a1,a2,
    b,bb,
    c,c0,c1,c2,
    d,dc,dd,di,dx,dy,
    e,
    f,f1,f2,
    g,g1,g2,
    h,h1,h2,
    i,i0,i1,i2,id,
    j,j0,j1,j2,
    k,l,
    m,mm,m1,m2,
    n,n0,n1,n2,nc,nd,nn,nx,ny,
    np, ns, nv,
    p,p1,p2,pi,
    q,
    s,st,ss,
    t,t1,t2,
    r,r1,r2,
    v,
    w,w1,w2,
    x,x0,x1,x2,xp,
    y,y0,y1,y2,yp,
    z,z0,z1,z2,zp,
