[MASTER]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring
good-names=
    a,a1,a2,
    b,bb,
    c,c0,c1,c2,
    d,di,
    e,
    f,f1,f2,
    g,g1,g2,
    h,h1,h2,
    i,i0,i1,i2,
    j,j0,j1,j2,
    k,l,
    m,mm,m1,m2,
    n, np, ns, nv,
    p, 
    s,st, 
    t,
    r,r1,r2,
    v,
    w,w1,w2,
    x,x1,x2,xp,
    y,y1,y2,yp,
    z,
