[MASTER]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring
good-names=
    a,b,c,
    d,di,
    f,f1,f2,
    g,h,
    i,j,k,l,
    m,mm,m1,m2,
    n, np,
    p, s, t,
    r,r1,r2,
    v,
    w,w1,w2,
    x,x1,x2,
    y,y1,y2,
    z,
